name: Test Installing Qt

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        version: ['6.2.0']
    steps:
      - uses: actions/checkout@v2
      
      - name: cache-qt
        id: cache-qt
        uses: actions/cache@v2
        with:
          path: |
            ~\AppData\Local\pip\Cache
            ${{env.GITHUB_WORKSPACE}}\${{ matrix.version }}
            ${{env.GITHUB_WORKSPACE}}\Tools}
          key: ${{ runner.os }}-Qt/${{matrix.version}}
      - name: setup python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.9 #install the python needed
      - name: install aqt
        if: setps.cache-qt.outputs.cache-hit != 'true'
        run: |
          python -m pip install -U pip
          python -m pip install setuptools wheel
          python -m pip install py7zr
          python -m pip install aqtinstall
      - name: install qt
        if: setps.cache-qt.outputs.cache-hit != 'true'
        run: |
          # install qt
          aqt install qt windows desktop ${{ matrix.version }} win64_msvc2019_64
          # install modules
          aqt install-qt windows desktop 6.2.0 win64_msvc2019_64 -m qtcharts
          # install tools
          aqt install-tool windows desktop tools_qtcreator qt.tools.qtcreator
          
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.0.2
        
      - name: Set MSVC command prompt
        uses: ilammy/msvc-dev-cmd@v1  
      
      - name: build        
        run: |
          mkdir build
          cd build
          ../${{ matrix.version }}/msvc2019_64/bin/qmake.exe ../src/test.pro -spec win32-msvc "CONFIG+=release"
          ../Tools/QtCreator/bin/jom/jom.exe
          dir *.exe
              
