name: Test Installing Qt

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        version: ['6.2.0']
    steps:
      - uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.9 #install the python needed
      - name: install aqt
        run: |
          python -m pip install -U pip
          python -m pip install setuptools wheel
          python -m pip install py7zr
          python -m pip install aqtinstall
      - name: install qt
        run: |
          # install qt
          aqt install qt windows desktop ${{ matrix.version }} win64_msvc2019_64
          # install modules
          aqt install-qt windows desktop 6.2.0 win64_msvc2019_64 -m qtcharts
          # install tools
          aqt install-tool windows desktop tools_qtcreator qt.tools.qtcreator
#       - name: Add msbuild to PATH
#         uses: microsoft/setup-msbuild@v1.0.2
#         with:
#           vs-version: 16.4
      - name: build
        
        run: |
          mkdir build
          cd build
          # set msvc env
          dir C:\Program Files (x86)\Microsoft Visual Studio\2019
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          dir ../${{ matrix.version }}/msvc2019_64/bin/qmake*
          dir ../Tools/QtCreator/bin/jom/jom*
          dir ../src/
          ../${{ matrix.version }}/msvc2019_64/bin/qmake.exe ../src/test.pro -spec win32-msvc "CONFIG+=release"
          ../Tools/QtCreator/bin/jom/jom.exe
              
